endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=creawork;port=3306;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100
set sv_enableNetworkedSounds false

sv_scriptHookAllowed 0

########## NATIVES ################

sets tags "rp, roleplay, network, pvp, br, brasil, brazil, otimizado, fps"
sets locale "pt-BR"
load_server_icon logo.png
sets banner_detail "" #Resolution: 1920x200 72ppi; 
sets banner_connecting "" #Resolution: 1920x200 72ppi;

### Permissões ###
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:110000102b01647 group.admin #SIMBA
add_principal identifier.steam:110000102b01647 group.sync #SIMBA
add_principal identifier.license:7fbfdad97bf46e8025baaf85fb74772bced51518 group.admin
add_principal identifier.license:7fbfdad97bf46e8025baaf85fb74772bced51518 group.sync

### OneSync ###
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
set onesync on
set onesync_population true
set onesync_forceMigration false
set onesync_workaround763185 false
set onesync_distanceCullVehicles false



### Voice ###
setr voice_useSendingRangeOnly true
setr voice_useNativeAudio true
setr voice_enableUi 0
setr voice_enableRadios 1
setr voice_enablePhones 1
setr voice_enableSubmix 1
setr voice_enableRadioAnim 1
setr voice_hideEndpoints 1
setr voice_defaultRadio CAPITAL
setr voice_defaultCycle HOME
setr voice_syncData 1
setr voice_allowSetIntent 1
setr voice_refreshRate 200
setr voice_use3dAudio false

set sv_enforceGameBuild 3095

sv_maxclients 10
sets sv_projectName "019 ROLEPLAY 😈"
sv_hostname "019ROLEPLAY | Oficial Servidor | São Paulo"
sets tags "Season 1 019ROLEPLAY SP"
sets Desenvolvedor "019 Dev Group"
set gametype "RolePlay"
set maptype "Tema São Paulo"
sets Discord "https://dsc.gg/hidenstore"
set steam_webApiKey "86DE19405C53059D8DBDF9C040731BB6" # Adquira em: https://steamcommunity.com/dev/apikey
sv_licenseKey "cfxk_1Rqdq7wMHVaKdmSOoWno7_1s845b" # Adquira em: https://keymaster.fivem.net/

start [addons]
ensure util
ensure bridge
start vrp
start oxmysql
start fardamento
start [system]
start [scripts]  
start [exclusive]  
start [works]
start [tv]
start [onesync]
start [veiculos]
ensure snt-laundry
start vehiclestree
ensure nation_bennys
ensure [appearance]
ensure [zeerow]
ensure [JYMMMY]
ensure [VTRS]

