header[data-v-5af497d2] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo[data-v-5af497d2] {
    width: 10vw;
    margin: 1.5625vw 0;
  }
  .user-frame[data-v-5af497d2] {
    display: flex;
    align-items: center;
    gap: 0.8333333333333334vw;
    font-size: 1.0416666666666667vw;
    font-weight: 400;
    color: #fff;
  }
  .user-frame img[data-v-5af497d2] {
    width: 0.9375vw;
  }
  li[data-v-76794786] {
    position: relative;
    display: flex;
    align-items: center;
  }
  li img[data-v-76794786] {
    width: 1.51vw;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  li:hover img[data-v-76794786] {
    opacity: 1;
  }
  .bar[data-v-76794786] {
    width: 0.12416666666666668vw;
    height: 0.6770833333333334vw;
    background-color: #fff;
    position: absolute;
    right: -0.625vw;
  }
  .item-selected[data-v-76794786] {
    opacity: 1;
  }
  nav[data-v-692f8d12] {
    padding: 1.61vw 0;
    padding-right: 1.61vw;
  }
  ul[data-v-692f8d12] {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    display: flex;
    flex-direction: column;
    gap: 2.39vw;
  }
  li[data-v-692f8d12] {
    list-style-type: none;
  }
  li img[data-v-692f8d12] {
    width: 1.51vw;
  }
  .button-dependents[data-v-44030f8a] {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0.8854166666666667vw 0.9895833333333334vw;
    border: none;
    outline: none;
    background: rgba(0, 157, 105, 0.1);
   border-radius: 0.208vw;
    font-size: 0.8333333333333334vw;
    font-weight: 600;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8333333333333334vw;
    cursor: pointer;
    transition: all 0.4s ease;
    text-transform: uppercase;
    background: rgba(226, 65, 65,.7);
    border: 0.0625rem solid rgb(226, 65, 65);
    color: #fff;
  }
  .button-dependents[data-v-44030f8a]:hover {
	background: rgba(226, 65, 65,.85);
	cursor: pointer;
  }
  .button-dependents[data-v-44030f8a]:active {
	background: rgba(226, 65, 65,.85);
	cursor: pointer;
  }
  .button-dependents img[data-v-44030f8a] {
    height: 1.25vw;
  }
  .addButton[data-v-53f3a7cb] {
    width: 100%;
    margin-top: 1.1458333333333335vw;
    padding: 1.2vw 0;
  }
  .addDependentBox[data-v-53f3a7cb] {
    display: flex;
    flex-direction: column;
    gap: 0.15625vw;
  }
  .removeDependent[data-v-53f3a7cb] {
    padding: 0.5vw;
    font-size: 0.65vw;
  }
  .addDependentBox input[data-v-53f3a7cb] {
    background: none;
    padding: 0.2vw 0;
    max-width: 16.302083333333336vw;
    font-weight: 600;
    font-size: 1.875vw;
    color: #FFF;
    border: none;
    border-bottom: 0.1vw solid rgba(226, 65, 65, 0.1);
    outline: none;
  }
  .addDependentBox input[data-v-53f3a7cb]::-moz-placeholder {
    color: rgba(226, 65, 65, 0.1);
  }
  .addDependentBox input[data-v-53f3a7cb]:-ms-input-placeholder {
    color: rgba(226, 65, 65, 0.1);
  }
  .addDependentBox input[data-v-53f3a7cb]::placeholder {
    color: rgba(226, 65, 65, 0.1);
  }
  .addDependentBox p[data-v-53f3a7cb] {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 0.8333333333333334vw;
    font-weight: 400;
  }
  .dependentsList[data-v-53f3a7cb] {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8208333333333334vw;
    max-height: 16.71875vw;
    padding-right: 0.6vw;
  }
  .dependent[data-v-53f3a7cb] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 0.8333333333333334vw;
    font-weight: 400;
  }
  .dependentPrice[data-v-53f3a7cb] {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.8333333333333334vw;
    font-weight: 400;
  }
  .consult-frame-box[data-v-53f3a7cb] {
    display: flex;
    flex-direction: column;
    gap: 1.8229166666666667vw;
  }
  .myDependentsTitle[data-v-53f3a7cb] {
    font-size: 1.0416666666666667vw;
    font-weight: 600;
  }
  .consultTitle[data-v-53f3a7cb] {
    width: 18.020833333333336vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .goBackBox[data-v-53f3a7cb] {
    display: flex;
    gap: 1.09375vw;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .goBackBox:hover > p[data-v-53f3a7cb] {
    opacity: 1;
  }
  .goBackBox p[data-v-53f3a7cb] {
    font-size: 0.8333333333333334vw;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
  }
  .goBackBox img[data-v-53f3a7cb] {
    width: 0.43vw;
  }
  .mycard[data-v-53f3a7cb] {
    margin-left: 3.4375vw;
    font-weight: 600;
    color: #fff;
    font-size: 1.0416666666666667vw;
  }
  .card-frame[data-v-53f3a7cb] {
    width: 18.020833333333336vw;
    height: 10.833333333333334vw;
    /* background-image: url(../img/card.d228ce48.png); */
    background: rgba(226, 65, 65,.7) url(../img/card.d228ce48.png) no-repeat center;
    background-size: 100% 100%;
    margin-top: 1.25vw;
   border-radius: 0.208vw;
    margin-bottom: 2.135416666666667vw;
    box-shadow: 0 1vw 2vw rgba(226, 65, 65, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0.0625rem solid rgb(226, 65, 65);
  }
  .card-number[data-v-53f3a7cb] {
    font-family: Jura;
    font-size: 1.197vw;
    font-weight: 700;
    display: flex;
    gap: 1.1vw;
  }
  .due-date[data-v-53f3a7cb] {
    left: 1.354vw;
  }
  .ccv[data-v-53f3a7cb],
  .due-date[data-v-53f3a7cb] {
    position: absolute;
    bottom: 1.04vw;
    font-family: Jura;
    font-size: 0.833vw;
    font-weight: 700;
  }
  .ccv[data-v-53f3a7cb] {
    right: 1.354vw;
  }
  .limited-frame[data-v-53f3a7cb] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.0416666666666667vw;
    margin: 0.30833333333333335vw 0;
  }
  .title-limited[data-v-53f3a7cb] {
    color: hsla(0, 0%, 100%, 0.5);
  }
  .my-dependents[data-v-53f3a7cb] {
    margin-top: 1.7708333333333335vw;
    font-size: 1.0416666666666667vw;
    font-weight: 600;
  }
  .consult-frame[data-v-53f3a7cb] {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7291666666666667vw;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .consult-frame img[data-v-53f3a7cb] {
    height: 1.5625vw;
    opacity: 0.2;
    transition: all 0.4s ease;
  }
  .consult-frame:hover img[data-v-53f3a7cb],
  .consult-frame[data-v-53f3a7cb]:hover {
    opacity: 1;
  }
  [data-v-53f3a7cb]::-webkit-scrollbar {
    width: 0.36458333333333337vw;
  }
  [data-v-53f3a7cb]::-webkit-scrollbar-thumb,
  [data-v-53f3a7cb]::-webkit-scrollbar-track {
    background: linear-gradient(
      92.51deg,
      rgba(226, 65, 65, 0.1) -5.33%,
      rgba(0, 157, 105, 0.1) 100.68%
    );
   border-radius: 0.208vw;
  }
  #app[data-v-4372018a] {
    width: 100vw;
    height: 100vh;
  }
  .creative[data-v-4372018a] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    stroke-width: 1vw;
  }
  #bank[data-v-4372018a] {
    width: 100%;
    height: 100%;
    background-image: url(../img/background.b07fe2f7.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
  }
  #container[data-v-4372018a] {
    width: auto;
    height: 41.25vw;
    background: rgba(0, 0, 0, 0.58);
    border-radius: 0.208vw;
    padding: 0 2.0833333333333335vw;
  }
  main[data-v-4372018a] {
    display: flex;
  }
  .router[data-v-4372018a] {
    width: 51.09375vw;
    height: 36vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.208vw;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,
  img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  img {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
  }
  